<br/>
<div class="input-append">
    <div class="row">
        <form class="form-inline    ">
            <div class="col-md-6">
                <div class="form-group">
                    <label>category:</label>
                    <input type="text" ng-model="newDept" style="width:70px"/>
                    &nbsp;&nbsp;&nbsp;
                    <label>style:</label>
                    <input type="text" ng-model="newClas" style="width:70px;" ng-disabled="!newDept"/>
                    &nbsp;&nbsp;&nbsp;
                    <label>product:</label>
                    <input type="text" ng-model="newItem" style="width:70px" ng-disabled="!newClas"/>

                </div>
            </div>
        </form>
        <div class="col-md-3">
            <div style="display: inline-block">
                <label>Date:</label>
            </div>
            <div style="display: inline-block;">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt"
                           is-open="opened"
                           datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                           close-text="Close"/>
                     <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="opened=!opened;open($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
        </div>
        <br/>

        <div class="col-md-3 pull-right">
            <button class="btn btn-primary" ng-disabled="!newDept"
                    ng-click="getOtlList(newDept,newClas,newItem)">
                <i class="fa fa-search fa-lg"></i> Forecast
            </button>
        </div>
    </div>
</div>

<br/>
<br/>
<div class="alert alert-info" style="margin-left: 10px;width: 500px" ng-show="otlList.length == 0">
    No OTL information found for this Product# {{deptId}}-{{clasId}}-{{itemId}}
</div>

<div class="container">
    <div ng-show="otlList.length > 0">
        <div style="display:inline-block;width:400px">
            <p class="lead" style="background: lightblue;">
                Replenishment Attributes of this Product
            </p>
        </div>
        <div style="display: inline-block;float:right">
            <label>Rows per Page:</label>&nbsp;
            <input type="number" ng-model="itemsByPage" ng-value="5" style="width: 60px"/>
        </div>
    </div>
    <div class="table-container">
        <table st-table="displayedCollection" st-safe-src="otlList" class="table table-hover table-striped"
               ng-show="otlList.length > 0">
            <thead>

            <tr>
                <th st-sort="deptId">Category</th>
                <th st-sort="classId">Style</th>
                <th st-sort="itemId">Product</th>
                <th st-sort="storeId">location</th>
                <th st-sort="srcNode">Sourcing Node</th>
                <th st-sort="ddQty">Average Sales</th>
                <th st-sort="biQty">Regular pattern</th>
                <th st-sort="pbiQty">Promo pattern</th>
                <th st-sort="otlQty">Forecast Units</th>
                <th st-sort="ooQty">OnOrder</th>
                <th st-sort="owQty">InTransit</th>
                <th st-sort="ohQty">Reserve</th>
                <th st-sort="libQty">Liability</th>
                <th st-sort="tranQty">Recommended Order/Transfer</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <input st-search="{{storeId}}" placeholder="search for location"
                           class="input-sm form-control" type="search"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="otl in displayedCollection">
                <td>{{otl.deptId}}</td>
                <td>{{otl.classId}}</td>
                <td>{{otl.itemId}}</td>
                <td>{{otl.storeId}}</td>
                <td>{{otl.srcNode}}</td>
                <td>{{otl.ddQty}}</td>
                <td>{{otl.biQty}}</td>
                <td>{{otl.pbiQty}}</td>
                <td>{{otl.otlQty}}</td>
                <td>{{otl.ooQty}}</td>
                <td>{{otl.owQty}}</td>
                <td>{{otl.ohQty}}</td>
                <td>{{otl.libQty}}</td>
                <td>{{otl.tranQty}} <button class="btn btn-success pull-right">Generate</button></td>
            </tr>
            </tbody>
            <br/>
            <tfoot>
            <tr>
                <td colspan="14" class="text-right">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>

        </table>
    </div>
</div>


